// Components
@import "./components/_footer";
@import "./components/_header";
@import "./components/_product";
@import "./components/_title";
@import "./components/blog";
@import "./components/sidebar";
@import "./components/_blog-detail";
@import "./components/slideshow";
@import "./components/brand";
@import "./components/about";
@import "./components/contact";
@import "./components/search";
@import "./components/tab";
@import "./components/cart";
@import "./components/payment";
@import "./components/orderSuccess";

@import "./components/sign-in";
// Page
@import "./components/product-detail";
@import "./components/home-admin";
@import "./components/export";
@import "./components/export2";
@import "./components/export3";
@import "./components/export4";
@import "./components/export5";
@import "./components/export6";
@import "./components/export7";

// Base
@import "./base/_reset";

// Layout
@import "./layout/_grid";

.page-title {
  color: var(--color-foreground);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0 45px;
  line-height: 21px;

  span {
    color: var(--color-primary);
  }
}

.product-layout {
  display: grid;
  grid-template-columns: 3fr 9fr;
}

//
.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.popup-content {
  position: absolute;
  top: 30%;
  background-color: #fff;
  padding: 29px 37px;
}

.popup-title {
  color: #176ab4;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 31px;
}

.popup-btn {
  width: 239px;
  display: flex;
  gap: 36px;

  button {
    cursor: pointer;
    &:first-child {
      border: 1px solid #176ab4;
      background: #fff;
      color: #176ab4;
      text-align: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 7px 27px 7px 26px;
    }

    &:last-child {
      padding: 7px 37px;
      background: #176ab4;
      color: #fff;
      text-align: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border: none;
    }
  }
}

.popup-content_title2 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

.popup-content2 {
  padding: 16px 14px 16px 13px;
  top: 14%;
  text-align: center;
  width: 367px;
  height: 124px;
}
