// Components
@import "./components/_footer";
@import "./components/_header";
@import "./components/_product";
@import "./components/_title";
@import "./components/blog";
@import "./components/sidebar";
@import "./components/_blog-detail";
@import "./components/slideshow";
@import "./components/brand";
@import "./components/about";
@import "./components/contact";
@import "./components/search";
@import "./components/tab";

@import "./components/sign-in";
// Page
@import "./components/product-detail";

// Base
@import "./base/_reset";

// Layout
@import "./layout/_grid";

.page-title {
  color: var(--color-foreground);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0 45px;
  line-height: 21px;

  span {
    color: var(--color-primary);
  }
}

.product-layout {
  display: grid;
  grid-template-columns: 3fr 9fr;
}
