.contact_title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 15px;
}

.contact_content {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  padding-bottom: 10px;
}

.contact_desc {
  font-size: 20px;
  padding-top: 2px;
  padding-bottom: 23px;
}

.contact_right {
  max-width: 734px;
  width: 100%;
}

.contact_form {
  label {
    font-size: 20px;
    font-weight: 600;
    display: block;
    span {
      color: var(--color-red);
    }
    padding-bottom: 11px;
  }

  input, textarea {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    line-height: 1.2;
    border: 1px solid #C4C4C4;
    &:focus-visible {
      outline: none;
    }
  }
  
  textarea {
    min-height: 240px;
  }
}

.button-submit {
  background-color: var(--color-primary);
  border: none;
  padding: 12px 60px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  float: right;
  margin-top: 26px;
  cursor: pointer;
}

.contact_form-box {
  padding-top: 27px;
}

.contact {
  border: 1px solid #C4C4C4;
  padding: 0 20px;
}
