
.v226_16398 {
  width: 100%;
  height: 994px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: -66px;
  left: 0px;
  overflow: hidden;
}
.v226_16399 {
  width: 446px;
  background: url("../images/v226_16399.png");
  opacity: 1;
  position: absolute;
  top: 1125px;
  left: 102px;
  border: 1px solid rgba(187,183,183,1);
  transform: rotate(-89deg);
}
.v226_16400 {
  width: 447px;
  background: url("../images/v226_16400.png");
  opacity: 1;
  position: absolute;
  top: 1103px;
  left: 1455px;
  border: 1px solid rgba(187,183,183,1);
  transform: rotate(-89deg);
}
.name {
  color: #fff;
}
.v226_16402 {
  width: 100%;
  height: 758px;
  background: url("../images/v226_16402.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 385px;
  overflow: hidden;
}
.v226_16403 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16403.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_16404 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16405 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 14px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16406 {
  width: 143px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 162px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16407 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 394px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16408 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 915px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16409 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 579px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16410 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 754px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16411 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16411.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 0px;
  overflow: hidden;
}
.v226_16412 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16413 {
  width: 46px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16414 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16415 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 395px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16416 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16417 {
  width: 130px;
  height: 21px;
  background: url("../images/v226_16417.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 580px;
  overflow: hidden;
}
.v226_16418 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 22px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16419 {
  width: 10px;
  height: 10px;
  background: rgba(236,50,55,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16420 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16420.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 165px;
  left: 0px;
  overflow: hidden;
}
.v226_16421 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16422 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16423 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16424 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 378px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16425 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 758px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16426 {
  width: 77px;
  height: 21px;
  background: url("../images/v226_16426.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 580px;
  overflow: hidden;
}
.v226_16427 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16428 {
  width: 10px;
  height: 10px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16429 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16429.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 273px;
  left: 0px;
  overflow: hidden;
}
.v226_16430 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16431 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16432 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16433 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 381px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16434 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16435 {
  width: 77px;
  height: 21px;
  background: url("../images/v226_16435.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 580px;
  overflow: hidden;
}
.v226_16436 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16437 {
  width: 10px;
  height: 10px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16438 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16438.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 383px;
  left: 0px;
  overflow: hidden;
}
.v226_16439 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16440 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16441 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16442 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 384px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16443 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16444 {
  width: 148px;
  height: 21px;
  background: url("../images/v226_16444.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 580px;
  overflow: hidden;
}
.v226_16445 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16446 {
  width: 10px;
  height: 10px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16447 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16447.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 0px;
  overflow: hidden;
}
.v226_16448 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16449 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16450 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16451 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 388px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16452 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16453 {
  width: 130px;
  height: 21px;
  background: url("../images/v226_16453.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 580px;
  overflow: hidden;
}
.v226_16454 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 22px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16455 {
  width: 10px;
  height: 10px;
  background: rgba(236,50,55,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16456 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16456.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 0px;
  overflow: hidden;
}
.v226_16457 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16458 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16459 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16460 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 388px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16461 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16462 {
  width: 148px;
  height: 21px;
  background: url("../images/v226_16462.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 580px;
  overflow: hidden;
}
.v226_16463 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16464 {
  width: 10px;
  height: 10px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16465 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16465.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 328px;
  left: 0px;
  overflow: hidden;
}
.v226_16466 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16467 {
  width: 148px;
  height: 21px;
  background: url("../images/v226_16467.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 580px;
  overflow: hidden;
}
.v226_16468 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16469 {
  width: 10px;
  height: 10px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16470 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16471 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16472 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 382px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16473 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16474 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16474.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 438px;
  left: 0px;
  overflow: hidden;
}
.v226_16475 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16476 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16477 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16478 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 386px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16479 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 756px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16480 {
  width: 121px;
  height: 21px;
  background: url("../images/v226_16480.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 580px;
  overflow: hidden;
}
.v226_16481 {
  width: 99px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16482 {
  width: 10px;
  height: 10px;
  background: rgba(22,198,12,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16483 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16483.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 493px;
  left: 0px;
  overflow: hidden;
}
.v226_16484 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16485 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16486 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16487 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 386px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16488 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16489 {
  width: 77px;
  height: 21px;
  background: url("../images/v226_16489.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 580px;
  overflow: hidden;
}
.v226_16490 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16491 {
  width: 10px;
  height: 10px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16492 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16492.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 0px;
  overflow: hidden;
}
.v226_16493 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16494 {
  width: 46px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16495 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16496 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 393px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16497 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16498 {
  width: 128px;
  height: 21px;
  background: url("../images/v226_16498.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 580px;
  overflow: hidden;
}
.v226_16499 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16500 {
  width: 10px;
  height: 10px;
  background: rgba(237,149,54,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16501 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16501.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 602px;
  left: 0px;
  overflow: hidden;
}
.v226_16502 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16503 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16504 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16505 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 392px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16506 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16507 {
  width: 77px;
  height: 21px;
  background: url("../images/v226_16507.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 580px;
  overflow: hidden;
}
.v226_16508 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16509 {
  width: 10px;
  height: 10px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16510 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16510.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 657px;
  left: 0px;
  overflow: hidden;
}
.v226_16511 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16512 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16513 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16514 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 393px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16515 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16516 {
  width: 77px;
  height: 21px;
  background: url("../images/v226_16516.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 580px;
  overflow: hidden;
}
.v226_16517 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16518 {
  width: 10px;
  height: 10px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
