
.v226_16107 {
  width: 100%;
  height: 860px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_16108 {
  width: 446px;
  background: url("../images/v226_16108.png");
  opacity: 1;
  position: absolute;
  top: 1125px;
  left: 102px;
  border: 1px solid rgba(187,183,183,1);
  transform: rotate(-89deg);
}
.v226_16109 {
  width: 447px;
  background: url("../images/v226_16109.png");
  opacity: 1;
  position: absolute;
  top: 1103px;
  left: 1455px;
  border: 1px solid rgba(187,183,183,1);
  transform: rotate(-89deg);
}
.v226_16110 {
  width: 168px;
  height: 18px;
  background: url("../images/v226_16110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1021px;
  left: 223px;
  overflow: hidden;
}
.v226_16111 {
  width: 18px;
  height: 18px;
  background: url("../images/v226_16111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v226_16112 {
  width: 18px;
  height: 18px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v226_16113 {
  width: 9px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v226_16114 {
  width: 18px;
  height: 18px;
  background: url("../images/v226_16114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 50px;
  overflow: hidden;
}
.v226_16115 {
  width: 18px;
  height: 18px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v226_16116 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v226_16117 {
  width: 18px;
  height: 18px;
  background: url("../images/v226_16117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 75px;
  overflow: hidden;
}
.v226_16118 {
  width: 18px;
  height: 18px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v226_16119 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v226_16120 {
  width: 18px;
  height: 18px;
  background: url("../images/v226_16120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 100px;
  overflow: hidden;
}
.v226_16121 {
  width: 18px;
  height: 18px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v226_16122 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 5px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v226_16123 {
  width: 18px;
  height: 18px;
  background: url("../images/v226_16123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 125px;
  overflow: hidden;
}
.v226_16124 {
  width: 18px;
  height: 18px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v226_16125 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 5px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v226_16126 {
  width: 18px;
  height: 18px;
  background: url("../images/v226_16126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 150px;
  overflow: hidden;
}
.v226_16127 {
  width: 18px;
  height: 18px;
  background: url("../images/v226_16127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_16128 {
  width: 18px;
  height: 18px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v226_16129 {
  width: 10px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v226_16130 {
  width: 18px;
  height: 18px;
  background: url("../images/v226_16130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_16131 {
  width: 18px;
  height: 18px;
  background: url("../images/v226_16131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_16132 {
  width: 18px;
  height: 18px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v226_16133 {
  width: 10px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v226_16134 {
  width: 1012px;
  height: 276px;
  background: url("../images/v226_16134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 206px;
  left: 385px;
  overflow: hidden;
}
.v226_16135 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_16136 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16137 {
  width: 173px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 17px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v226_16138 {
  width: 175px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 469px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v226_16139 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 924px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v226_16140 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 0px;
  overflow: hidden;
}
.v226_16141 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16142 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_16143 {
  width: 99px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 469px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_16144 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 0px;
  overflow: hidden;
}
.v226_16145 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16146 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_16147 {
  width: 87px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 469px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_16148 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16148.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 165px;
  left: 0px;
  overflow: hidden;
}
.v226_16149 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16150 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 18px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_16151 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 469px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_16152 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16152.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 0px;
  overflow: hidden;
}
.v226_16153 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16154 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_16155 {
  width: 105px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 468px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_16156 {
  width: 69px;
  height: 22px;
  background: url("../images/v226_16156.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 1309px;
  overflow: hidden;
}
.v226_16157 {
  width: 22px;
  height: 21px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0.30000001192092896px solid rgba(0,0,0,1);
}
.v226_16158 {
  width: 18px;
  height: 22px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 51px;
}
.v226_16159 {
  width: 69px;
  height: 22px;
  background: url("../images/v226_16159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 327px;
  left: 1309px;
  overflow: hidden;
}
.v226_16160 {
  width: 22px;
  height: 21px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0.30000001192092896px solid rgba(0,0,0,1);
}
.v226_16161 {
  width: 18px;
  height: 22px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 51px;
}
.v226_16162 {
  width: 69px;
  height: 22px;
  background: url("../images/v226_16162.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 382px;
  left: 1309px;
  overflow: hidden;
}
.v226_16163 {
  width: 22px;
  height: 21px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0.30000001192092896px solid rgba(0,0,0,1);
}
.v226_16164 {
  width: 18px;
  height: 22px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 51px;
}
.v226_16165 {
  width: 69px;
  height: 22px;
  background: url("../images/v226_16165.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 437px;
  left: 1309px;
  overflow: hidden;
}
.v226_16166 {
  width: 22px;
  height: 21px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0.30000001192092896px solid rgba(0,0,0,1);
}
.v226_16167 {
  width: 18px;
  height: 22px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 51px;
}
.v299_17364 {
  width: 465px;
  height: 23px;
  background: url("../images/v299_17364.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 404px;
  overflow: hidden;
}
.v299_17365 {
  width: 110px;
  color: rgba(23,106,180,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v299_17366 {
  width: 168px;
  color: rgba(187,183,183,1);
  position: absolute;
  top: 0px;
  left: 148px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v299_17367 {
  width: 177px;
  height: 36px;
  background: url("../images/v299_17367.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 1220px;
  overflow: hidden;
}
.v299_17368 {
  width: 177px;
  height: 36px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v299_17369 {
  width: 155px;
  height: 19px;
  background: url("../images/v299_17369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 6px;
  overflow: hidden;
}
.v299_17370 {
  width: 134px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 21px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v299_17371 {
  width: 24px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}


.analystic {
  padding: 26px 20px 70px 20px;
  background-color: #fff;
  width: 1012px;
  margin-left: 43px;
  margin-top: 30px;
}

.analystic_title {
  font-size: 20px;
  font-weight: 500;
}

.analystic_subtitle {
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 18px;
}