
.v226_16887 {
  width: 100%;
  height: 1317px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_16889 {
  width: 1014px;
  height: 56px;
  background: url("../images/v226_16889.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 385px;
  overflow: hidden;
}
.v226_16890 {
  width: 1014px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16891 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 14px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16892 {
  width: 143px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 162px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16893 {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 365px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16894 {
  width: 105px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 550px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16895 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 713px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16896 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 896px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16897 {
  width: 1014px;
  height: 56px;
  background: url("../images/v226_16897.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 736px;
  left: 385px;
  overflow: hidden;
}
.v226_16898 {
  width: 1014px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16899 {
  width: 46px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16900 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16901 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 373px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16902 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 554px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16903 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 900px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16904 {
  width: 136px;
  height: 21px;
  background: url("../images/v226_16904.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 713px;
  overflow: hidden;
}
.v226_16905 {
  width: 119px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 17px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16906 {
  width: 10px;
  height: 10px;
  background: rgba(201,24,74,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16907 {
  width: 1014px;
  height: 56px;
  background: url("../images/v226_16907.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 846px;
  left: 385px;
  overflow: hidden;
}
.v226_16908 {
  width: 1014px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16909 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16910 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16911 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 356px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16912 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 551px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16913 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 901px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16914 {
  width: 77px;
  height: 21px;
  background: url("../images/v226_16914.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 713px;
  overflow: hidden;
}
.v226_16915 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16916 {
  width: 10px;
  height: 10px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16917 {
  width: 1014px;
  height: 56px;
  background: url("../images/v226_16917.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 954px;
  left: 385px;
  overflow: hidden;
}
.v226_16918 {
  width: 1014px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16919 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16920 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16921 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 359px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16922 {
  width: 85px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 555px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16923 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 900px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16924 {
  width: 83px;
  height: 21px;
  background: url("../images/v226_16924.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 713px;
  overflow: hidden;
}
.v226_16925 {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16926 {
  width: 10px;
  height: 10px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16927 {
  width: 1014px;
  height: 56px;
  background: url("../images/v226_16927.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1064px;
  left: 385px;
  overflow: hidden;
}
.v226_16928 {
  width: 1014px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16929 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16930 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16931 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 362px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16932 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 555px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16933 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 900px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16934 {
  width: 133px;
  height: 21px;
  background: url("../images/v226_16934.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 713px;
  overflow: hidden;
}
.v226_16935 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 17px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16936 {
  width: 10px;
  height: 10px;
  background: rgba(237,149,54,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16937 {
  width: 1014px;
  height: 56px;
  background: url("../images/v226_16937.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 791px;
  left: 385px;
  overflow: hidden;
}
.v226_16938 {
  width: 1014px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16939 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16940 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16941 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 366px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16942 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 554px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16943 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 900px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16944 {
  width: 136px;
  height: 21px;
  background: url("../images/v226_16944.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 713px;
  overflow: hidden;
}
.v226_16945 {
  width: 119px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 17px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16946 {
  width: 10px;
  height: 10px;
  background: rgba(201,24,74,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16947 {
  width: 1014px;
  height: 56px;
  background: url("../images/v226_16947.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 899px;
  left: 385px;
  overflow: hidden;
}
.v226_16948 {
  width: 1014px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16949 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16950 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16951 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 366px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16952 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 551px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16953 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 900px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16954 {
  width: 148px;
  height: 21px;
  background: url("../images/v226_16954.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 713px;
  overflow: hidden;
}
.v226_16955 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16956 {
  width: 10px;
  height: 10px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16957 {
  width: 1014px;
  height: 56px;
  background: url("../images/v226_16957.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1009px;
  left: 385px;
  overflow: hidden;
}
.v226_16958 {
  width: 1014px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16959 {
  width: 121px;
  height: 21px;
  background: url("../images/v226_16959.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 713px;
  overflow: hidden;
}
.v226_16960 {
  width: 99px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16961 {
  width: 10px;
  height: 10px;
  background: rgba(22,198,12,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16962 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16963 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16964 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 360px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16965 {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 552px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16966 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 900px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16967 {
  width: 1014px;
  height: 56px;
  background: url("../images/v226_16967.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1119px;
  left: 385px;
  overflow: hidden;
}
.v226_16968 {
  width: 1014px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16969 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16970 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16971 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 364px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16972 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 553px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16973 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 900px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16974 {
  width: 83px;
  height: 21px;
  background: url("../images/v226_16974.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 713px;
  overflow: hidden;
}
.v226_16975 {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16976 {
  width: 10px;
  height: 10px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16977 {
  width: 1014px;
  height: 56px;
  background: url("../images/v226_16977.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1174px;
  left: 385px;
  overflow: hidden;
}
.v226_16978 {
  width: 1014px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16979 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16980 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16981 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 372px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16982 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 554px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16983 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 900px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16984 {
  width: 83px;
  height: 21px;
  background: url("../images/v226_16984.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 713px;
  overflow: hidden;
}
.v226_16985 {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16986 {
  width: 10px;
  height: 10px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_16987 {
  width: 1014px;
  height: 56px;
  background: url("../images/v226_16987.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1229px;
  left: 385px;
  overflow: hidden;
}
.v226_16988 {
  width: 1014px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16989 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16990 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16991 {
  width: 124px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 372px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16992 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 555px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16993 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 900px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16994 {
  width: 132px;
  height: 21px;
  background: url("../images/v226_16994.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 713px;
  overflow: hidden;
}
.v226_16995 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16996 {
  width: 10px;
  height: 10px;
  background: rgba(201,24,74,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  border-radius: 50%;
}
.v226_16997 {
  width: 308px;
  height: 100px;
  background: url("../images/v226_16997.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 737px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v226_16998 {
  width: 308px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v226_16999 {
  width: 104px;
  color: rgba(236,50,55,1);
  position: absolute;
  top: 56px;
  left: 19px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v226_17000 {
  width: 209px;
  height: 28px;
  background: url("../images/v226_17000.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 16px;
  overflow: hidden;
}
.v226_17001 {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 53px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v226_17002 {
  width: 30px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_17003 {
  width: 25px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
}
.v226_17004 {
  width: 308px;
  height: 100px;
  background: url("../images/v226_17004.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 385px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17000000178813934);
  overflow: hidden;
}
.v226_17005 {
  width: 308px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v226_17006 {
  width: 104px;
  color: rgba(236,50,55,1);
  position: absolute;
  top: 56px;
  left: 19px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v226_17007 {
  width: 202px;
  height: 33px;
  background: url("../images/v226_17007.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 22px;
  overflow: hidden;
}
.v226_17008 {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 47px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v226_17009 {
  width: 21px;
  height: 22px;
  background: url("../images/v226_17009.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_17010 {
  width: 11px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 5px;
}
.v226_17011 {
  width: 21px;
  height: 22px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v226_17012 {
  width: 308px;
  height: 100px;
  background: url("../images/v226_17012.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 1089px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17000000178813934);
  overflow: hidden;
}
.v226_17013 {
  width: 308px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v226_17014 {
  width: 173px;
  color: rgba(236,50,55,1);
  position: absolute;
  top: 56px;
  left: 20px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v226_17015 {
  width: 195px;
  height: 27px;
  background: url("../images/v226_17015.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 17px;
  overflow: hidden;
}
.v226_17016 {
  width: 154px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 42px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v226_17017 {
  width: 27px;
  height: 27px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_17018 {
  width: 22px;
  height: 22px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
}
.v226_17019 {
  width: 308px;
  height: 340px;
  background: url("../images/v226_17019.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 1089px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v226_17020 {
  width: 308px;
  height: 340px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v226_17021 {
  width: 268px;
  height: 60px;
  background: url("../images/v226_17021.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 9px;
  overflow: hidden;
}
.v226_17022 {
  width: 170px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 66px;
  font-family: Roboto;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v226_17023 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 244px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v226_17024 {
  width: 61px;
  height: 60px;
  background: url("../images/v226_17024.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_17025 {
  width: 269px;
  height: 60px;
  background: url("../images/v226_17025.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 121px;
  left: 9px;
  overflow: hidden;
}
.v226_17026 {
  width: 146px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 66px;
  font-family: Roboto;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v226_17027 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 244px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v226_17028 {
  width: 64px;
  height: 60px;
  background: url("../images/v226_17028.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_17029 {
  width: 269px;
  height: 60px;
  background: url("../images/v226_17029.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 9px;
  overflow: hidden;
}
.v226_17030 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 66px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v226_17031 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 244px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v226_17032 {
  width: 63px;
  height: 60px;
  background: url("../images/v226_17032.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_17033 {
  width: 269px;
  height: 60px;
  background: url("../images/v226_17033.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 261px;
  left: 9px;
  overflow: hidden;
}
.v226_17034 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 66px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v226_17035 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 244px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v226_17036 {
  width: 63px;
  height: 60px;
  background: url("../images/v226_17036.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_17037 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 20px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v226_17038 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 233px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v226_17039 {
  width: 660px;
  height: 340px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 385px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v226_17040 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 352px;
  left: 404px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v226_17041 {
  width: 176px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 316px;
  left: 405px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v226_17042 {
  width: 625px;
  height: 213px;
  background: url("../images/v226_17042.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 387px;
  left: 405px;
  overflow: hidden;
}
.v226_17043 {
  width: 591px;
  height: 45px;
  background: url("../images/v226_17043.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 34px;
  overflow: hidden;
}
.v226_17044 {
  width: 591px;
  background: url("../images/v226_17044.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17045 {
  width: 551px;
  height: 45px;
  background: url("../images/v226_17045.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 22px;
  overflow: hidden;
}
.v226_17046 {
  width: 5px;
  height: 30px;
  background: url("../images/v226_17046.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_17047 {
  height: 6px;
  background: url("../images/v226_17047.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17048 {
  width: 5px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v226_17049 {
  width: 7px;
  height: 30px;
  background: url("../images/v226_17049.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 49px;
  overflow: hidden;
}
.v226_17050 {
  height: 6px;
  background: url("../images/v226_17050.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17051 {
  width: 7px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v226_17052 {
  width: 7px;
  height: 30px;
  background: url("../images/v226_17052.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 98px;
  overflow: hidden;
}
.v226_17053 {
  height: 6px;
  background: url("../images/v226_17053.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17054 {
  width: 7px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v226_17055 {
  width: 7px;
  height: 30px;
  background: url("../images/v226_17055.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  overflow: hidden;
}
.v226_17056 {
  height: 6px;
  background: url("../images/v226_17056.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17057 {
  width: 7px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v226_17058 {
  width: 7px;
  height: 30px;
  background: url("../images/v226_17058.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 197px;
  overflow: hidden;
}
.v226_17059 {
  height: 6px;
  background: url("../images/v226_17059.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17060 {
  width: 7px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v226_17061 {
  width: 7px;
  height: 30px;
  background: url("../images/v226_17061.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 246px;
  overflow: hidden;
}
.v226_17062 {
  height: 6px;
  background: url("../images/v226_17062.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17063 {
  width: 7px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v226_17064 {
  width: 6px;
  height: 30px;
  background: url("../images/v226_17064.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 296px;
  overflow: hidden;
}
.v226_17065 {
  height: 6px;
  background: url("../images/v226_17065.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17066 {
  width: 6px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v226_17067 {
  width: 7px;
  height: 30px;
  background: url("../images/v226_17067.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 344px;
  overflow: hidden;
}
.v226_17068 {
  height: 6px;
  background: url("../images/v226_17068.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17069 {
  width: 7px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v226_17070 {
  width: 7px;
  height: 30px;
  background: url("../images/v226_17070.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 394px;
  overflow: hidden;
}
.v226_17071 {
  height: 6px;
  background: url("../images/v226_17071.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17072 {
  width: 7px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v226_17073 {
  width: 13px;
  height: 30px;
  background: url("../images/v226_17073.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 440px;
  overflow: hidden;
}
.v226_17074 {
  height: 6px;
  background: url("../images/v226_17074.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 7px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17075 {
  width: 13px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v226_17076 {
  width: 11px;
  height: 30px;
  background: url("../images/v226_17076.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 490px;
  overflow: hidden;
}
.v226_17077 {
  height: 6px;
  background: url("../images/v226_17077.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17078 {
  width: 11px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v226_17079 {
  width: 12px;
  height: 45px;
  background: url("../images/v226_17079.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 540px;
  overflow: hidden;
}
.v226_17080 {
  height: 6px;
  background: url("../images/v226_17080.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17081 {
  width: 12px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v226_17082 {
  width: 33px;
  height: 175px;
  background: url("../images/v226_17082.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_17083 {
  height: 164px;
  background: url("../images/v226_17083.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 34px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17084 {
  width: 33px;
  height: 175px;
  background: url("../images/v226_17084.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_17085 {
  width: 18px;
  height: 15px;
  background: url("../images/v226_17085.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 15px;
  overflow: hidden;
}
.v226_17086 {
  width: 5px;
  background: url("../images/v226_17086.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 13px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17087 {
  width: 7px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v226_17088 {
  width: 31px;
  height: 15px;
  background: url("../images/v226_17088.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 2px;
  overflow: hidden;
}
.v226_17089 {
  width: 5px;
  background: url("../images/v226_17089.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 26px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17090 {
  width: 20px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v226_17091 {
  width: 33px;
  height: 15px;
  background: url("../images/v226_17091.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 0px;
  overflow: hidden;
}
.v226_17092 {
  width: 5px;
  background: url("../images/v226_17092.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 28px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17093 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v226_17094 {
  width: 33px;
  height: 15px;
  background: url("../images/v226_17094.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  overflow: hidden;
}
.v226_17095 {
  width: 5px;
  background: url("../images/v226_17095.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 28px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17096 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v226_17097 {
  width: 33px;
  height: 15px;
  background: url("../images/v226_17097.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_17098 {
  width: 5px;
  background: url("../images/v226_17098.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 28px;
  border: 1px solid rgba(0,0,0,1);
}
.v226_17099 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v226_17100 {
  width: 580px;
  height: 134px;
  background: url("../images/v226_17100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 39px;
  overflow: hidden;
}
.v226_17101 {
  width: 580px;
  height: 134px;
  background: url("../images/v226_17101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_17102 {
  width: 38px;
  height: 110px;
  background: url("../images/v226_17102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v226_17103 {
  width: 38px;
  height: 110px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v226_17104 {
  width: 38px;
  height: 50px;
  background: url("../images/v226_17104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 50px;
  overflow: hidden;
}
.v226_17105 {
  width: 38px;
  height: 50px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v226_17106 {
  width: 38px;
  height: 67px;
  background: url("../images/v226_17106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 99px;
  overflow: hidden;
}
.v226_17107 {
  width: 38px;
  height: 67px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v226_17108 {
  width: 38px;
  height: 53px;
  background: url("../images/v226_17108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 148px;
  overflow: hidden;
}
.v226_17109 {
  width: 38px;
  height: 53px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v226_17110 {
  width: 38px;
  height: 65px;
  background: url("../images/v226_17110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 198px;
  overflow: hidden;
}
.v226_17111 {
  width: 38px;
  height: 65px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v226_17112 {
  width: 38px;
  height: 134px;
  background: url("../images/v226_17112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 247px;
  overflow: hidden;
}
.v226_17113 {
  width: 38px;
  height: 134px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v226_17114 {
  width: 38px;
  height: 89px;
  background: url("../images/v226_17114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 296px;
  overflow: hidden;
}
.v226_17115 {
  width: 38px;
  height: 89px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v226_17116 {
  width: 38px;
  height: 101px;
  background: url("../images/v226_17116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 345px;
  overflow: hidden;
}
.v226_17117 {
  width: 38px;
  height: 101px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v226_17118 {
  width: 38px;
  height: 94px;
  background: url("../images/v226_17118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 395px;
  overflow: hidden;
}
.v226_17119 {
  width: 38px;
  height: 94px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v226_17120 {
  width: 38px;
  height: 131px;
  background: url("../images/v226_17120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 444px;
  overflow: hidden;
}
.v226_17121 {
  width: 38px;
  height: 131px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v226_17122 {
  width: 38px;
  height: 20px;
  background: url("../images/v226_17122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 493px;
  overflow: hidden;
}
.v226_17123 {
  width: 38px;
  height: 20px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v226_17124 {
  width: 38px;
  height: 133px;
  background: url("../images/v226_17124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 543px;
  overflow: hidden;
}
.v226_17125 {
  width: 38px;
  height: 133px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
