
.v226_16804 {
  width: 100%;
  height: 1122px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_16805 {
  width: 446px;
  background: url("../images/v226_16805.png");
  opacity: 1;
  position: absolute;
  top: 1125px;
  left: 102px;
  border: 1px solid rgba(187,183,183,1);
  transform: rotate(-89deg);
}
.v226_16806 {
  width: 447px;
  background: url("../images/v226_16806.png");
  opacity: 1;
  position: absolute;
  top: 1103px;
  left: 1455px;
  border: 1px solid rgba(187,183,183,1);
  transform: rotate(-89deg);
}
.v226_16807 {
  width: 100%;
  height: 470px;
  background: url("../images/v226_16807.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 385px;
  overflow: hidden;
}
.v226_16808 {
  width: 100%;
  height: 470px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v226_16809 {
  width: 494px;
  height: 210px;
  background: url("../images/v226_16809.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 278px;
  overflow: hidden;
}
.v226_16810 {
  width: 204px;
  height: 210px;
  background: url("../images/v226_16810.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v226_16811 {
  width: 265px;
  height: 80px;
  background: url("../images/v226_16811.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 229px;
  overflow: hidden;
}
.v226_16812 {
  width: 235px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v226_16813 {
  width: 265px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v226_16814 {
  width: 193px;
  color: rgba(23,106,180,1);
  position: absolute;
  top: 18px;
  left: 20px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v226_16815 {
  width: 973px;
  height: 65px;
  background: url("../images/v226_16815.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 377px;
  left: 20px;
  overflow: hidden;
}
.v226_16816 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v226_16817 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 746px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v226_16818 {
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 155px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16819 {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 847px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v226_16820 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 374px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v226_16821 {
  width: 89px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 486px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16822 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 609px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v226_16823 {
  width: 944px;
  height: 22px;
  background: url("../images/v226_16823.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 1px;
  overflow: hidden;
}
.v226_16824 {
  width: 10px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 746px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16825 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 849px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16826 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 488px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16827 {
  width: 151px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 155px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16828 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 611px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16829 {
  width: 24px;
  height: 21px;
  background: url("../images/v226_16829.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 376px;
  overflow: hidden;
}
.v226_16830 {
  width: 24px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16831 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16832 {
  width: 100%;
  height: 389px;
  background: url("../images/v226_16832.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 641px;
  left: 385px;
  overflow: hidden;
}
.v226_16833 {
  width: 100%;
  height: 389px;
  background: url("../images/v226_16833.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v226_16834 {
  width: 100%;
  height: 389px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v226_16835 {
  width: 100%;
  height: 219px;
  background: url("../images/v226_16835.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 0px;
  overflow: hidden;
}
.v226_16836 {
  width: 100%;
  height: 219px;
  background: url("../images/v226_16836.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_16837 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16837.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_16838 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16839 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 19px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16840 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 192px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v226_16841 {
  width: 217px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 453px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v226_16842 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 713px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v226_16843 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 873px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v226_16844 {
  width: 100%;
  height: 54px;
  background: url("../images/v226_16844.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 0px;
  overflow: hidden;
}
.v226_16845 {
  width: 100%;
  height: 54px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16846 {
  width: 41px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v226_16847 {
  width: 184px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 453px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v226_16848 {
  width: 208px;
  height: 25px;
  background: url("../images/v226_16848.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 192px;
  overflow: hidden;
}
.v226_16849 {
  width: 128px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v226_16850 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 188px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v226_16851 {
  width: 81px;
  height: 18px;
  background: url("../images/v226_16851.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 713px;
  overflow: hidden;
}
.v226_16852 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v226_16853 {
  width: 113px;
  height: 18px;
  background: url("../images/v226_16853.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 873px;
  overflow: hidden;
}
.v226_16854 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v226_16855 {
  width: 9px;
  height: 9px;
  background: rgba(22,198,12,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 50%;
}
.v226_16856 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16856.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 163px;
  left: 0px;
  overflow: hidden;
}
.v226_16857 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16858 {
  width: 41px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 21px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v226_16859 {
  width: 190px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 452px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v226_16860 {
  width: 217px;
  height: 16px;
  background: url("../images/v226_16860.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 192px;
  overflow: hidden;
}
.v226_16861 {
  width: 217px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v226_16862 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 188px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v226_16863 {
  width: 81px;
  height: 16px;
  background: url("../images/v226_16863.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 713px;
  overflow: hidden;
}
.v226_16864 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v226_16865 {
  width: 113px;
  height: 26px;
  background: url("../images/v226_16865.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 873px;
  overflow: hidden;
}
.v226_16866 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v226_16867 {
  width: 9px;
  height: 8px;
  background: rgba(236,186,85,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 50%;
}
.v226_16868 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16868.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 0px;
  overflow: hidden;
}
.v226_16869 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16870 {
  width: 41px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v226_16871 {
  width: 184px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 453px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v226_16872 {
  width: 209px;
  height: 38px;
  background: url("../images/v226_16872.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 192px;
  overflow: hidden;
}
.v226_16873 {
  width: 165px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v226_16874 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 188px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v226_16875 {
  width: 81px;
  height: 17px;
  background: url("../images/v226_16875.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 714px;
  overflow: hidden;
}
.v226_16876 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v226_16877 {
  width: 107px;
  height: 17px;
  background: url("../images/v226_16877.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 875px;
  overflow: hidden;
}
.v226_16878 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v226_16879 {
  width: 9px;
  height: 9px;
  background: rgba(22,198,12,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-radius: 50%;
}
.v226_16880 {
  width: 103px;
  color: rgba(23,106,180,1);
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v226_16881 {
  width: 123px;
  height: 40px;
  background: url("../images/v226_16881.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1058px;
  left: 1274px;
  overflow: hidden;
}
.v226_16882 {
  width: 123px;
  height: 40px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_16883 {
  width: 119px;
  height: 36px;
  background: url("../images/v226_16883.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.v226_16884 {
  color: rgba(255,255,255,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
