
.v226_16541 {
  width: 100%;
  height: 993px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  top: -66px;
}
.v226_16542 {
  width: 446px;
  background: url("../images/v226_16542.png");
  opacity: 1;
  position: absolute;
  top: 1125px;
  left: 102px;
  border: 1px solid rgba(187,183,183,1);
  transform: rotate(-89deg);
}
.v226_16543 {
  width: 447px;
  background: url("../images/v226_16543.png");
  opacity: 1;
  position: absolute;
  top: 1103px;
  left: 1455px;
  border: 1px solid rgba(187,183,183,1);
  transform: rotate(-89deg);
}
.v226_16544 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16544.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 206px;
  left: 385px;
  overflow: hidden;
}
.v226_16545 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16546 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 14px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16547 {
  width: 143px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 726px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16548 {
  width: 50px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 144px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16549 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 915px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16550 {
  width: 38px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 328px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16551 {
  width: 65px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 467px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16552 {
  width: 64px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 645px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_16553 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16553.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 385px;
  overflow: hidden;
}
.v226_16554 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16555 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16556 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 727px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16557 {
  width: 162px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 145px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16558 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 645px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16559 {
  width: 111px;
  height: 21px;
  background: url("../images/v226_16559.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 330px;
  overflow: hidden;
}
.v226_16560 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16561 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16561.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 479px;
  left: 385px;
  overflow: hidden;
}
.v226_16562 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16563 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16564 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 727px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16565 {
  width: 173px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 146px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16566 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 644px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16567 {
  width: 111px;
  height: 21px;
  background: url("../images/v226_16567.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 330px;
  overflow: hidden;
}
.v226_16568 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16569 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16569.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 589px;
  left: 385px;
  overflow: hidden;
}
.v226_16570 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16571 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16572 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 727px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16573 {
  width: 162px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 145px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16574 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 644px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16575 {
  width: 116px;
  height: 21px;
  background: url("../images/v226_16575.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 324px;
  overflow: hidden;
}
.v226_16576 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16577 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16577.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 424px;
  left: 385px;
  overflow: hidden;
}
.v226_16578 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16579 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16580 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 727px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16581 {
  width: 151px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 145px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16582 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 644px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16583 {
  width: 111px;
  height: 21px;
  background: url("../images/v226_16583.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 327px;
  overflow: hidden;
}
.v226_16584 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16585 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16585.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 534px;
  left: 385px;
  overflow: hidden;
}
.v226_16586 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16587 {
  width: 116px;
  height: 21px;
  background: url("../images/v226_16587.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 324px;
  overflow: hidden;
}
.v226_16588 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16589 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16590 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 727px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16591 {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 145px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16592 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 644px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16593 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16593.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 644px;
  left: 385px;
  overflow: hidden;
}
.v226_16594 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16595 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16596 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 727px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16597 {
  width: 161px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 145px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16598 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 643px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16599 {
  width: 111px;
  height: 21px;
  background: url("../images/v226_16599.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 330px;
  overflow: hidden;
}
.v226_16600 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16601 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16601.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 699px;
  left: 385px;
  overflow: hidden;
}
.v226_16602 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16603 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16604 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 727px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16605 {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 146px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16606 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 644px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16607 {
  width: 111px;
  height: 21px;
  background: url("../images/v226_16607.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 330px;
  overflow: hidden;
}
.v226_16608 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16609 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16609.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 753px;
  left: 385px;
  overflow: hidden;
}
.v226_16610 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16611 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16612 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 727px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16613 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 145px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16614 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 644px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16615 {
  width: 111px;
  height: 21px;
  background: url("../images/v226_16615.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 330px;
  overflow: hidden;
}
.v226_16616 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16617 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16617.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 807px;
  left: 385px;
  overflow: hidden;
}
.v226_16618 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16619 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 17px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16620 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 727px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16621 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 146px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16622 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 644px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16623 {
  width: 111px;
  height: 21px;
  background: url("../images/v226_16623.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 330px;
  overflow: hidden;
}
.v226_16624 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16625 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16625.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 862px;
  left: 385px;
  overflow: hidden;
}
.v226_16626 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16627 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16628 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 727px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16629 {
  width: 161px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 145px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16630 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 644px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16631 {
  width: 111px;
  height: 21px;
  background: url("../images/v226_16631.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 330px;
  overflow: hidden;
}
.v226_16632 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16633 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 390px;
  left: 853px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16634 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 441px;
  left: 853px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16635 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 497px;
  left: 853px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16636 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 552px;
  left: 853px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16637 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 606px;
  left: 853px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16638 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 662px;
  left: 853px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16639 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 717px;
  left: 853px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16640 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 771px;
  left: 853px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16641 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 830px;
  left: 853px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16642 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 881px;
  left: 853px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16643 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16643.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 261px;
  left: 385px;
  overflow: hidden;
}
.v226_16644 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16645 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16646 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 727px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16647 {
  width: 161px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 146px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16648 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 644px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16649 {
  width: 111px;
  height: 21px;
  background: url("../images/v226_16649.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 328px;
  overflow: hidden;
}
.v226_16650 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16651 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 468px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16652 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_16652.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 316px;
  left: 385px;
  overflow: hidden;
}
.v226_16653 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_16654 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16655 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 727px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16656 {
  width: 151px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 145px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16657 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 644px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16658 {
  width: 119px;
  height: 21px;
  background: url("../images/v226_16658.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 324px;
  overflow: hidden;
}
.v226_16659 {
  width: 119px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16660 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 468px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
