.v226_15325 {
  width: 100%;
  height: 827px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_15326 {
  width: 446px;
  background: url("../images/v226_15326.png");
  opacity: 1;
  position: absolute;
  top: 1125px;
  left: 102px;
  border: 1px solid rgba(187, 183, 183, 1);
  transform: rotate(-89deg);
}
.v226_15327 {
  width: 447px;
  background: url("../images/v226_15327.png");
  opacity: 1;
  position: absolute;
  top: 1103px;
  left: 1455px;
  border: 1px solid rgba(187, 183, 183, 1);
  transform: rotate(-89deg);
}
.v226_15328 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_15328.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 206px;
  left: 385px;
  overflow: hidden;
}
.v226_15329 {
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187, 183, 183, 1);
  overflow: hidden;
}
.v226_15330 {
  width: 97px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v226_15331 {
  width: 72px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 161px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v226_15332 {
  width: 147px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 444px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v226_15333 {
  width: 64px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 643px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v226_15334 {
  width: 54px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 20px;
  left: 774px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v226_15335 {
  width: 63px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 922px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v226_15336 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_15336.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 261px;
  left: 385px;
  overflow: hidden;
}
.v226_15337 {
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187, 183, 183, 1);
  overflow: hidden;
}
.v226_15338 {
  width: 36px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15339 {
  width: 151px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 418px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15340 {
  width: 76px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 773px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15341 {
  width: 200px;
  height: 40px;
  background: url("../images/v226_15341.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 144px;
  overflow: hidden;
}
.v226_15342 {
  width: 120px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 10px;
  left: 81px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15343 {
  width: 60px;
  height: 40px;
  background: url("../images/44.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_15344 {
  width: 17px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 644px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15345 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_15345.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 370px;
  left: 385px;
  overflow: hidden;
}
.v226_15346 {
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187, 183, 183, 1);
  overflow: hidden;
}
.v226_15347 {
  width: 36px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v226_15348 {
  width: 150px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 412px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15349 {
  width: 76px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 773px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15350 {
  width: 212px;
  height: 40px;
  background: url("../images/v226_15350.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 144px;
  overflow: hidden;
}
.v226_15351 {
  width: 132px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 10px;
  left: 81px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15352 {
  width: 60px;
  height: 40px;
  background: url("../images/66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_15353 {
  width: 17px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 644px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15354 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_15354.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 385px;
  overflow: hidden;
}
.v226_15355 {
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187, 183, 183, 1);
  overflow: hidden;
}
.v226_15356 {
  width: 36px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15357 {
  width: 165px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 414px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15358 {
  width: 76px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 773px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15359 {
  width: 250px;
  height: 40px;
  background: url("../images/v226_15359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 144px;
  overflow: hidden;
}
.v226_15360 {
  width: 171px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 15px;
  left: 80px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v226_15361 {
  width: 60px;
  height: 40px;
  background: url("../images/v226_15361.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_15362 {
  width: 17px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 644px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15363 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_15363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 425px;
  left: 385px;
  overflow: hidden;
}
.v226_15364 {
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187, 183, 183, 1);
  overflow: hidden;
}
.v226_15365 {
  width: 36px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15366 {
  width: 165px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 417px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15367 {
  width: 81px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 771px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v226_15368 {
  width: 234px;
  height: 40px;
  background: url("../images/v226_15368.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 144px;
  overflow: hidden;
}
.v226_15369 {
  width: 142px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 8px;
  left: 81px;
  font-family: Roboto;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
}
.v226_15370 {
  width: 60px;
  height: 40px;
  background: url("../images/77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_15371 {
  width: 17px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 644px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15372 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_15372.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 315px;
  left: 385px;
  overflow: hidden;
}
.v226_15373 {
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187, 183, 183, 1);
  overflow: hidden;
}
.v226_15374 {
  width: 36px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15375 {
  width: 165px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 405px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15376 {
  width: 76px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 773px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15377 {
  width: 265px;
  height: 40px;
  background: url("../images/v226_15377.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 144px;
  overflow: hidden;
}
.v226_15378 {
  width: 182px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 7px;
  left: 82px;
  font-family: Roboto;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
}
.v226_15379 {
  width: 60px;
  height: 40px;
  background: url("../images/55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_15380 {
  width: 26px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 643px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15381 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_15381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 531px;
  left: 385px;
  overflow: hidden;
}
.v226_15382 {
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187, 183, 183, 1);
  overflow: hidden;
}
.v226_15383 {
  width: 36px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15384 {
  width: 165px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 414px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15385 {
  width: 17px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 644px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15386 {
  width: 76px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 773px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15387 {
  width: 221px;
  height: 40px;
  background: url("../images/v226_15387.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 144px;
  overflow: hidden;
}
.v226_15388 {
  width: 141px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 9px;
  left: 81px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v226_15389 {
  width: 60px;
  height: 40px;
  background: url("../images/v226_15389.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_15390 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_15390.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 586px;
  left: 385px;
  overflow: hidden;
}
.v226_15391 {
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187, 183, 183, 1);
  overflow: hidden;
}
.v226_15392 {
  width: 36px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15393 {
  width: 165px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 414px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15394 {
  width: 17px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 644px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15395 {
  width: 76px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 773px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15396 {
  width: 231px;
  height: 40px;
  background: url("../images/v226_15396.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 144px;
  overflow: hidden;
}
.v226_15397 {
  width: 151px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 9px;
  left: 81px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v226_15398 {
  width: 60px;
  height: 40px;
  background: url("../images/v226_15398.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_15399 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_15399.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 641px;
  left: 385px;
  overflow: hidden;
}
.v226_15400 {
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187, 183, 183, 1);
  overflow: hidden;
}
.v226_15401 {
  width: 36px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15402 {
  width: 165px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 414px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15403 {
  width: 17px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 644px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15404 {
  width: 76px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 773px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15405 {
  width: 192px;
  height: 40px;
  background: url("../images/v226_15405.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 144px;
  overflow: hidden;
}
.v226_15406 {
  width: 112px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 11px;
  left: 81px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v226_15407 {
  width: 60px;
  height: 40px;
  background: url("../images/v226_15407.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_15408 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_15408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 696px;
  left: 385px;
  overflow: hidden;
}
.v226_15409 {
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187, 183, 183, 1);
  overflow: hidden;
}
.v226_15410 {
  width: 48px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 12px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15411 {
  width: 135px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 429px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15412 {
  width: 17px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 643px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15413 {
  width: 76px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: 773px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v226_15414 {
  width: 235px;
  height: 40px;
  background: url("../images/v226_15414.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 145px;
  overflow: hidden;
}
.v226_15415 {
  width: 156px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 11px;
  left: 80px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v226_15416 {
  width: 59px;
  height: 40px;
  background: url("../images/v226_15416.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v293_17372 {
  width: 168px;
  height: 18px;
  background: url("../images/v293_17372.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 779px;
  left: 385px;
  overflow: hidden;
}
.v293_17373 {
  width: 18px;
  height: 18px;
  background: url("../images/v293_17373.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v293_17374 {
  width: 18px;
  height: 18px;
  background: rgba(23, 106, 180, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v293_17375 {
  width: 9px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v293_17376 {
  width: 18px;
  height: 18px;
  background: url("../images/v293_17376.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 50px;
  overflow: hidden;
}
.v293_17377 {
  width: 18px;
  height: 18px;
  background: rgba(187, 183, 183, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v293_17378 {
  width: 9px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v293_17379 {
  width: 18px;
  height: 18px;
  background: url("../images/v293_17379.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 75px;
  overflow: hidden;
}
.v293_17380 {
  width: 18px;
  height: 18px;
  background: rgba(187, 183, 183, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v293_17381 {
  width: 9px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v293_17382 {
  width: 18px;
  height: 18px;
  background: url("../images/v293_17382.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 100px;
  overflow: hidden;
}
.v293_17383 {
  width: 18px;
  height: 18px;
  background: rgba(187, 183, 183, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v293_17384 {
  width: 9px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 5px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v293_17385 {
  width: 18px;
  height: 18px;
  background: url("../images/v293_17385.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 125px;
  overflow: hidden;
}
.v293_17386 {
  width: 18px;
  height: 18px;
  background: rgba(187, 183, 183, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v293_17387 {
  width: 9px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 5px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v293_17388 {
  width: 18px;
  height: 18px;
  background: url("../images/v293_17388.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 150px;
  overflow: hidden;
}
.v293_17389 {
  width: 18px;
  height: 18px;
  background: url("../images/v293_17389.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v293_17390 {
  width: 18px;
  height: 18px;
  background: rgba(187, 183, 183, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v293_17391 {
  width: 10px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v293_17392 {
  width: 18px;
  height: 18px;
  background: url("../images/v293_17392.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v293_17393 {
  width: 18px;
  height: 18px;
  background: url("../images/v293_17393.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v293_17394 {
  width: 18px;
  height: 18px;
  background: rgba(187, 183, 183, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v293_17395 {
  width: 10px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v293_17363 {
  width: 964px;
  height: 34px;
  background: url("../images/v293_17363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 163px;
  left: 404px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.button_ad-sp {
  background: #176ab4;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding: 8px 19px;
  line-height: normal;
}
.v293_17364 {
  width: 110px;
  color: rgba(23, 106, 180, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v293_17365 {
  width: 190px;
  color: rgba(187, 183, 183, 1);
  position: absolute;
  top: 0px;
  left: 169px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v293_17366 {
  width: 117px;
  color: rgba(187, 183, 183, 1);
  position: absolute;
  top: 0px;
  left: 418px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_15419 {
  width: 69px;
  height: 22px;
  background: url("../images/v226_15419.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 1309px;
  overflow: hidden;
}
.v226_15420 {
  width: 22px;
  height: 21px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0.30000001192092896px solid rgba(0, 0, 0, 1);
}
.v226_15421 {
  width: 18px;
  height: 22px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 51px;
}
.v226_15422 {
  width: 69px;
  height: 22px;
  background: url("../images/v226_15422.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 327px;
  left: 1309px;
  overflow: hidden;
}
.v226_15423 {
  width: 22px;
  height: 21px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0.30000001192092896px solid rgba(0, 0, 0, 1);
}
.v226_15424 {
  width: 18px;
  height: 22px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 51px;
}
.v226_15425 {
  width: 69px;
  height: 22px;
  background: url("../images/v226_15425.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 382px;
  left: 1309px;
  overflow: hidden;
}
.v226_15426 {
  width: 22px;
  height: 21px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0.30000001192092896px solid rgba(0, 0, 0, 1);
}
.v226_15427 {
  width: 18px;
  height: 22px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 51px;
}
.v226_15428 {
  width: 69px;
  height: 22px;
  background: url("../images/v226_15428.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 437px;
  left: 1309px;
  overflow: hidden;
}
.v226_15429 {
  width: 22px;
  height: 21px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0.30000001192092896px solid rgba(0, 0, 0, 1);
}
.v226_15430 {
  width: 18px;
  height: 22px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 51px;
}
.v226_15431 {
  width: 69px;
  height: 22px;
  background: url("../images/v226_15431.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 492px;
  left: 1309px;
  overflow: hidden;
}
.v226_15432 {
  width: 22px;
  height: 21px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0.30000001192092896px solid rgba(0, 0, 0, 1);
}
.v226_15433 {
  width: 18px;
  height: 22px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 51px;
}
.v226_15434 {
  width: 69px;
  height: 22px;
  background: url("../images/v226_15434.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 543px;
  left: 1309px;
  overflow: hidden;
}
.v226_15435 {
  width: 22px;
  height: 21px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0.30000001192092896px solid rgba(0, 0, 0, 1);
}
.v226_15436 {
  width: 18px;
  height: 22px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 51px;
}
.v226_15437 {
  width: 69px;
  height: 22px;
  background: url("../images/v226_15437.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 598px;
  left: 1309px;
  overflow: hidden;
}
.v226_15438 {
  width: 22px;
  height: 21px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0.30000001192092896px solid rgba(0, 0, 0, 1);
}
.v226_15439 {
  width: 18px;
  height: 22px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 51px;
}
.v226_15440 {
  width: 69px;
  height: 22px;
  background: url("../images/v226_15440.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 657px;
  left: 1309px;
  overflow: hidden;
}
.v226_15441 {
  width: 22px;
  height: 21px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0.30000001192092896px solid rgba(0, 0, 0, 1);
}
.v226_15442 {
  width: 18px;
  height: 22px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 51px;
}
.v226_15443 {
  width: 69px;
  height: 22px;
  background: url("../images/v226_15443.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 712px;
  left: 1309px;
  overflow: hidden;
}
.v226_15444 {
  width: 22px;
  height: 21px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0.30000001192092896px solid rgba(0, 0, 0, 1);
}
.v226_15445 {
  width: 18px;
  height: 22px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 51px;
}
.v293_17367 {
  width: 177px;
  height: 36px;
  background: url("../images/v293_17367.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 1220px;
  overflow: hidden;
}
.v293_17368 {
  width: 177px;
  height: 36px;
  background: rgba(23, 106, 180, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v293_17369 {
  width: 151px;
  height: 19px;
  background: url("../images/v293_17369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 7px;
  overflow: hidden;
}
.v293_17370 {
  width: 130px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 21px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v293_17371 {
  width: 23px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
