
.v226_17229 {
  width: 100%;
  height: 994px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_17230 {
  width: 446px;
  background: url("../images/v226_17230.png");
  opacity: 1;
  position: absolute;
  top: 1125px;
  left: 102px;
  border: 1px solid rgba(187,183,183,1);
  transform: rotate(-89deg);
}
.v240_17687 {
  width: 100%;
  height: 790px;
  background: url("../images/v240_17687.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 385px;
  overflow: hidden;
}
.v240_17686 {
  width: 1080px;
  height: 24px;
  background: url("../images/v240_17686.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  overflow: hidden;
}
.v240_17679 {
  width: 1080px;
  height: 24px;
  background: url("../images/v240_17679.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.v240_17680 {
  width: 107px;
  color: rgba(187,183,183,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
}
.v240_17681 {
  color: rgba(187,183,183,1);;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
}
.v240_17682 {
  color: rgba(23,106,180,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
}
.v240_17683 {
  color: rgba(187,183,183,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
}
.v240_17684 {
  color: rgba(187,183,183,1);
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v240_17685 {
  color: rgba(187,183,183,1);
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_17232 {
  width: 1100px;
  height: 758px;
  background: url("../images/v226_17232.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  overflow: hidden;
}
.v226_17233 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_17233.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_17234 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_17235 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 14px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_17236 {
  width: 143px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 162px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_17237 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 394px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_17238 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 915px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_17239 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 579px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_17240 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 754px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v226_17241 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_17241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 0px;
  overflow: hidden;
}
.v226_17242 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_17243 {
  width: 46px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17244 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17245 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 395px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_17246 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17247 {
  width: 158px;
  height: 21px;
  background: url("../images/v226_17247.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 580px;
  overflow: hidden;
}
.v226_17248 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_17249 {
  width: 10px;
  height: 10px;
  background: rgba(22,198,12,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_17250 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_17250.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 165px;
  left: 0px;
  overflow: hidden;
}
.v226_17251 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_17252 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17253 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17254 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 378px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17255 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 758px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17256 {
  width: 158px;
  height: 21px;
  background: url("../images/v226_17256.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 580px;
  overflow: hidden;
}
.v226_17257 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_17258 {
  width: 10px;
  height: 10px;
  background: rgba(22,198,12,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_17259 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_17259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 273px;
  left: 0px;
  overflow: hidden;
}
.v226_17260 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_17261 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17262 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17263 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 381px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17264 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17265 {
  width: 158px;
  height: 21px;
  background: url("../images/v226_17265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 580px;
  overflow: hidden;
}
.v226_17266 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_17267 {
  width: 10px;
  height: 10px;
  background: rgba(22,198,12,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_17268 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_17268.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 383px;
  left: 0px;
  overflow: hidden;
}
.v226_17269 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_17270 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17271 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17272 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 384px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17273 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17274 {
  width: 158px;
  height: 21px;
  background: url("../images/v226_17274.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 580px;
  overflow: hidden;
}
.v226_17275 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_17276 {
  width: 10px;
  height: 10px;
  background: rgba(22,198,12,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_17277 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_17277.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 0px;
  overflow: hidden;
}
.v226_17278 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_17279 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17280 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17281 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 388px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17282 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17283 {
  width: 158px;
  height: 21px;
  background: url("../images/v226_17283.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 580px;
  overflow: hidden;
}
.v226_17284 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_17285 {
  width: 10px;
  height: 10px;
  background: rgba(22,198,12,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_17286 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_17286.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 0px;
  overflow: hidden;
}
.v226_17287 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_17288 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17289 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17290 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 388px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17291 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17292 {
  width: 158px;
  height: 21px;
  background: url("../images/v226_17292.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 580px;
  overflow: hidden;
}
.v226_17293 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_17294 {
  width: 10px;
  height: 10px;
  background: rgba(22,198,12,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_17295 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_17295.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 328px;
  left: 0px;
  overflow: hidden;
}
.v226_17296 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_17297 {
  width: 138px;
  height: 21px;
  background: url("../images/v226_17297.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 580px;
  overflow: hidden;
}
.v226_17298 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_17299 {
  width: 10px;
  height: 10px;
  background: rgba(22,198,12,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_17300 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17301 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17302 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 382px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17303 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17304 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_17304.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 438px;
  left: 0px;
  overflow: hidden;
}
.v226_17305 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_17306 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17307 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17308 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 386px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17309 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 756px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17310 {
  width: 158px;
  height: 21px;
  background: url("../images/v226_17310.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 580px;
  overflow: hidden;
}
.v226_17311 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_17312 {
  width: 10px;
  height: 10px;
  background: rgba(22,198,12,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_17313 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_17313.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 493px;
  left: 0px;
  overflow: hidden;
}
.v226_17314 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_17315 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17316 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17317 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 386px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17318 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17319 {
  width: 158px;
  height: 21px;
  background: url("../images/v226_17319.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 580px;
  overflow: hidden;
}
.v226_17320 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_17321 {
  width: 10px;
  height: 10px;
  background: rgba(22,198,12,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_17322 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_17322.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 0px;
  overflow: hidden;
}
.v226_17323 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_17324 {
  width: 46px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17325 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17326 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 393px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17327 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17328 {
  width: 158px;
  height: 21px;
  background: url("../images/v226_17328.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 580px;
  overflow: hidden;
}
.v226_17329 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_17330 {
  width: 10px;
  height: 10px;
  background: rgba(22,198,12,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_17331 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_17331.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 602px;
  left: 0px;
  overflow: hidden;
}
.v226_17332 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_17333 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17334 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17335 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 394px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17336 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17337 {
  width: 158px;
  height: 21px;
  background: url("../images/v226_17337.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 580px;
  overflow: hidden;
}
.v226_17338 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_17339 {
  width: 10px;
  height: 10px;
  background: rgba(22,198,12,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v226_17340 {
  width: 100%;
  height: 56px;
  background: url("../images/v226_17340.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 657px;
  left: 0px;
  overflow: hidden;
}
.v226_17341 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(187,183,183,1);
  overflow: hidden;
}
.v226_17342 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17343 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 163px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17344 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 393px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17345 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 757px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_17346 {
  width: 158px;
  height: 21px;
  background: url("../images/v226_17346.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 580px;
  overflow: hidden;
}
.v226_17347 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_17348 {
  width: 10px;
  height: 10px;
  background: rgba(22,198,12,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 50%;
}
.v240_17712 {
  width: 168px;
  height: 18px;
  background: url("../images/v240_17712.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 740px;
  left: 0px;
  overflow: hidden;
}
.v240_17688 {
  width: 168px;
  height: 18px;
  background: url("../images/v240_17688.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v240_17689 {
  width: 18px;
  height: 18px;
  background: url("../images/v240_17689.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v240_17690 {
  width: 18px;
  height: 18px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v240_17691 {
  width: 9px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v240_17692 {
  width: 18px;
  height: 18px;
  background: url("../images/v240_17692.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 50px;
  overflow: hidden;
}
.v240_17693 {
  width: 18px;
  height: 18px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v240_17694 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v240_17695 {
  width: 18px;
  height: 18px;
  background: url("../images/v240_17695.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 75px;
  overflow: hidden;
}
.v240_17696 {
  width: 18px;
  height: 18px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v240_17697 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v240_17698 {
  width: 18px;
  height: 18px;
  background: url("../images/v240_17698.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 100px;
  overflow: hidden;
}
.v240_17699 {
  width: 18px;
  height: 18px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v240_17700 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 5px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v240_17701 {
  width: 18px;
  height: 18px;
  background: url("../images/v240_17701.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 125px;
  overflow: hidden;
}
.v240_17702 {
  width: 18px;
  height: 18px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v240_17703 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 5px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v240_17704 {
  width: 18px;
  height: 18px;
  background: url("../images/v240_17704.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 150px;
  overflow: hidden;
}
.v240_17705 {
  width: 18px;
  height: 18px;
  background: url("../images/v240_17705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v240_17706 {
  width: 18px;
  height: 18px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v240_17707 {
  width: 10px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v240_17708 {
  width: 18px;
  height: 18px;
  background: url("../images/v240_17708.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v240_17709 {
  width: 18px;
  height: 18px;
  background: url("../images/v240_17709.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v240_17710 {
  width: 18px;
  height: 18px;
  background: rgba(187,183,183,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v240_17711 {
  width: 10px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 6px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v226_17350 {
  width: 21px;
  height: 617px;
  background: url("../images/v226_17350.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 1321px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}

.v240_17679554 {
  width: 1100px;
  height: 24px;
  background: url(../images/v240_17679.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  left: 385px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  top: 136px;
  z-index: 100000;
}