
.v226_16018 {
  width: 100%;
  height: 2004px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_16019 {
  width: 1100px;
  height: 1710px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 201px;
  left: 385px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v226_16020 {
  width: 446px;
  background: url("../images/v226_16020.png");
  opacity: 1;
  position: absolute;
  top: 1125px;
  left: 102px;
  border: 1px solid rgba(187,183,183,1);
  transform: rotate(-89deg);
}
.v226_16021 {
  width: 447px;
  background: url("../images/v226_16021.png");
  opacity: 1;
  position: absolute;
  top: 1104px;
  left: 1455px;
  border: 1px solid rgba(187,183,183,1);
  transform: rotate(-89deg);
}
.v226_16023 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 224px;
  left: 404px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v226_16024 {
  width: 168px;
  color: url("../images/v226_16024.png");
  position: absolute;
  top: 275px;
  left: 419px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v226_16025 {
  width: 125px;
  color: url("../images/v226_16025.png");
  position: absolute;
  top: 694px;
  left: 462px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.v226_16026 {
  width: 84px;
  color: url("../images/v226_16026.png");
  position: absolute;
  top: 853px;
  left: 503px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.v226_16027 {
  width: 73px;
  color: url("../images/v226_16027.png");
  position: absolute;
  top: 933px;
  left: 514px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.v226_16028 {
  width: 122px;
  color: url("../images/v226_16028.png");
  position: absolute;
  top: 614px;
  left: 465px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.v226_16029 {
  width: 177px;
  color: url("../images/v226_16029.png");
  position: absolute;
  top: 775px;
  left: 410px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.v226_16030 {
  width: 172px;
  color: url("../images/v226_16030.png");
  position: absolute;
  top: 1015px;
  left: 415px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.v226_16031 {
  width: 142px;
  color: url("../images/v226_16031.png");
  position: absolute;
  top: 1244px;
  left: 445px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.v226_16032 {
  width: 171px;
  color: url("../images/v226_16032.png");
  position: absolute;
  top: 1474px;
  left: 415px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.v226_16033 {
  width: 73px;
  color: url("../images/v226_16033.png");
  position: absolute;
  top: 445px;
  left: 514px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.v226_16034 {
  width: 132px;
  height: 40px;
  background: url("../images/v226_16034.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2219px;
  left: 1265px;
  overflow: hidden;
}
.v226_16035 {
  width: 132px;
  height: 40px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_16036 {
  width: 128px;
  height: 36px;
  background: url("../images/v226_16036.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v226_16037 {
  width: 128px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16038 {
  width: 132px;
  height: 40px;
  background: url("../images/v226_16038.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2219px;
  left: 415px;
  overflow: hidden;
}
.v226_16039 {
  width: 132px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(23,106,180,1);
  overflow: hidden;
}
.v226_16040 {
  width: 128px;
  height: 36px;
  background: url("../images/v226_16040.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v226_16041 {
  width: 128px;
  color: rgba(23,106,180,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v348_18490 {
  width: 732px;
  height: 200px;
  background: url("../images/v348_18490.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1014px;
  left: 610px;
  overflow: hidden;
}
.v348_18491 {
  width: 732px;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(142,142,142,1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v348_18493 {
  width: 263px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 450px;
}
.v348_18494 {
  width: 695px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 18px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v348_18495 {
  width: 255px;
  color: rgba(142,142,142,1);
  position: absolute;
  top: 16px;
  left: 17px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v348_18478 {
  width: 732px;
  height: 50px;
  background: url("../images/v348_18478.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 695px;
  left: 610px;
  overflow: hidden;
}
.v348_18479 {
  width: 732px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(142,142,142,1);
  overflow: hidden;
}
.v348_18480 {
  width: 255px;
  color: rgba(142,142,142,1);
  position: absolute;
  top: 17px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v348_18482 {
  width: 170px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v348_18483 {
  width: 473px;
  height: 31px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 44px;
  overflow: hidden;
}
.v348_18484 {
  width: 732px;
  height: 200px;
  background: url("../images/v348_18484.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1244px;
  left: 610px;
  overflow: hidden;
}
.v348_18485 {
  width: 732px;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(142,142,142,1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v348_18487 {
  width: 263px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 450px;
}
.v348_18488 {
  width: 695px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 18px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v348_18489 {
  width: 255px;
  color: rgba(142,142,142,1);
  position: absolute;
  top: 16px;
  left: 17px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v348_18472 {
  width: 732px;
  height: 50px;
  background: url("../images/v348_18472.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 615px;
  left: 610px;
  overflow: hidden;
}
.v348_18473 {
  width: 732px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(142,142,142,1);
  overflow: hidden;
}
.v348_18474 {
  width: 255px;
  color: rgba(142,142,142,1);
  position: absolute;
  top: 17px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v348_18476 {
  width: 165px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v348_18477 {
  width: 473px;
  height: 31px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 44px;
  overflow: hidden;
}
.v226_16046 {
  width: 132px;
  height: 40px;
  background: url("../images/v226_16046.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1934px;
  left: 1265px;
  overflow: hidden;
}
.v226_16047 {
  width: 132px;
  height: 40px;
  background: rgba(23,106,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v226_16048 {
  width: 128px;
  height: 36px;
  background: url("../images/v226_16048.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v226_16049 {
  width: 128px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v226_16050 {
  width: 132px;
  height: 40px;
  background: url("../images/v226_16050.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1934px;
  left: 1098px;
  overflow: hidden;
}
.v226_16051 {
  width: 132px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(23,106,180,1);
  overflow: hidden;
}
.v226_16052 {
  width: 128px;
  height: 36px;
  background: url("../images/v226_16052.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v226_16053 {
  width: 128px;
  color: rgba(23,106,180,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v348_18508 {
  width: 732px;
  height: 50px;
  background: url("../images/v348_18508.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 854px;
  left: 610px;
  overflow: hidden;
}
.v348_18509 {
  width: 732px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(142,142,142,1);
  overflow: hidden;
}
.v348_18510 {
  width: 255px;
  color: rgba(142,142,142,1);
  position: absolute;
  top: 17px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v348_18512 {
  width: 165px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v348_18513 {
  width: 473px;
  height: 31px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 44px;
  overflow: hidden;
}
.v348_18496 {
  width: 732px;
  height: 50px;
  background: url("../images/v348_18496.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 934px;
  left: 610px;
  overflow: hidden;
}
.v348_18497 {
  width: 732px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(142,142,142,1);
  overflow: hidden;
}
.v348_18498 {
  width: 255px;
  color: rgba(142,142,142,1);
  position: absolute;
  top: 17px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v348_18500 {
  width: 165px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v348_18501 {
  width: 473px;
  height: 31px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 44px;
  overflow: hidden;
}
.v348_18514 {
  width: 732px;
  height: 50px;
  background: url("../images/v348_18514.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 774px;
  left: 610px;
  overflow: hidden;
}
.v348_18515 {
  width: 732px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(142,142,142,1);
  overflow: hidden;
}
.v348_18543 {

  opacity: 1;
  position: absolute;
  top: 10px;
  left: 681px;
  overflow: hidden;
}

.v348_18517 {
  width: 255px;
  color: rgba(142,142,142,1);
  position: absolute;
  top: 16px;
  left: 17px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v348_18502 {
  width: 732px;
  height: 417px;
  background: url("../images/v348_18502.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1474px;
  left: 610px;
  overflow: hidden;
}
.v348_18503 {
  width: 732px;
  height: 417px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(142,142,142,1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v348_18505 {
  width: 263px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 450px;
}
.v348_18506 {
  width: 695px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 27px;
  left: 18px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v348_18507 {
  width: 365px;
  color: rgba(142,142,142,1);
  position: absolute;
  top: 33px;
  left: 17px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v348_18440 {
  width: 620px;
  height: 310px;
  background: url("../images/v348_18440.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 629px;
  overflow: hidden;
}
.v348_18441 {
  width: 140px;
  height: 140px;
  background: url("../images/v348_18441.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 480px;
  overflow: hidden;
}
.v348_18442 {
  width: 140px;
  height: 140px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(142,142,142,1);
  overflow: hidden;
}
.v348_18443 {
  width: 90px;
  height: 82px;
  background: url("../images/v348_18443.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 25px;
  overflow: hidden;
}
.v348_18444 {
  width: 90px;
  color: rgba(23,106,180,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v348_18535 {
  width: 140px;
  height: 140px;
  background: url("../images/v348_18535.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v348_18536 {
  width: 140px;
  height: 140px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(142,142,142,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v348_18537 {
  width: 140px;
  height: 140px;
  background: url("../images/v348_18537.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(142,142,142,1);
  overflow: hidden;
}
.v348_18538 {
  width: 140px;
  height: 25px;
  background: url("../images/v348_18538.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 115px;
  left: 0px;
  overflow: hidden;
}
.v348_18539 {
  height: 25px;
  background: url("../images/v348_18539.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  border: 1px solid rgba(142,142,142,0);
}
.v348_18540 {
  width: 140px;
  height: 25px;
  background: rgba(142,142,142,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v348_18541 {
  width: 16px;
  height: 16px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 26px;
}
.v348_18542 {
  width: 14px;
  height: 14px;
  background: url("../images/v348_18542.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 99px;
  border: 2px solid rgba(0,0,0,0);
}
.v348_18527 {
  width: 140px;
  height: 140px;
  background: url("../images/v348_18527.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 160px;
  overflow: hidden;
}
.v348_18528 {
  width: 140px;
  height: 140px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(142,142,142,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v348_18529 {
  width: 140px;
  height: 140px;
  background: url("../images/v348_18529.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(142,142,142,1);
  overflow: hidden;
}
.v348_18530 {
  width: 140px;
  height: 25px;
  background: url("../images/v348_18530.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 115px;
  left: 0px;
  overflow: hidden;
}
.v348_18531 {
  height: 25px;
  background: url("../images/v348_18531.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  border: 1px solid rgba(142,142,142,0);
}
.v348_18532 {
  width: 140px;
  height: 25px;
  background: rgba(142,142,142,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v348_18533 {
  width: 16px;
  height: 16px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 26px;
}
.v348_18534 {
  width: 14px;
  height: 14px;
  background: url("../images/v348_18534.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 99px;
  border: 2px solid rgba(0,0,0,0);
}
.v348_18519 {
  width: 140px;
  height: 140px;
  background: url("../images/v348_18519.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 320px;
  overflow: hidden;
}
.v348_18520 {
  width: 140px;
  height: 140px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(142,142,142,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v348_18521 {
  width: 140px;
  height: 140px;
  background: url("../images/v348_18521.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(142,142,142,1);
  overflow: hidden;
}
.v348_18522 {
  width: 140px;
  height: 25px;
  background: url("../images/v348_18522.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 115px;
  left: 0px;
  overflow: hidden;
}
.v348_18523 {
  height: 25px;
  background: url("../images/v348_18523.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  border: 1px solid rgba(142,142,142,0);
}
.v348_18524 {
  width: 140px;
  height: 25px;
  background: rgba(142,142,142,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v348_18525 {
  width: 16px;
  height: 16px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 26px;
}
.v348_18526 {
  width: 14px;
  height: 14px;
  background: url("../images/v348_18526.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 99px;
  border: 2px solid rgba(0,0,0,0);
}
.v348_18449 {
  width: 140px;
  height: 140px;
  background: url("../images/v348_18449.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 170px;
  left: 0px;
  border: 1px solid rgba(142,142,142,1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
