.sidebar-heading {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 29px;
}

.sidebar-section {
  border-top: 1px solid var(--color-foreground);
  margin-right: 23px;
}

.sidebar-title {
  padding-top: 14px;
}

.sidebar-content {
}
